*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-------------HEADER---------*/
.logo {
  width: 5%;
  height: 5%;
}

/*-------------BODY----------*/


  .bgbody{
    
    width: 800px;
    height: 450px;
    float:left;
  }
  h1{
    padding-left: 35%;
  }
  h4{
    padding-left: 35%;
  }
  body{
    background-color: darkgray
  }
  
  /*.aside{
    background-color: darkgray;
  }*/
  .aside{
    width: 700px;
    height: 400px;
    float: right;
    }
    .black{
      text-decoration: none
    }














  
  <style> @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
  </style>