@mixin background-principal{
  background-image:url(../image/gaming-pattern.png) ;
}
.mainbg{
    background-color: #bdc3c7;
  }
  .tittle1{
    color: #4b6584;
  }
  .tittle2{
    color: #576574;
  }
  .imgprin{
  
    width: 80%;
    margin: 0 auto; 
    display: block;
  }
  .asideh{
    height: 450px;
  }
  .asidebg{
    background-color: #ecf0f1;
  }
  .black{
    text-decoration: none;
    color: black;
  }
  
  .bgclass{
    background-color: #c8d6e5;
  }
  .bgclass2{
    background-color: #ced6e0;
  }

  .imgcontacto{
    width: 397px;
    height: 500px;
  }
  .imgcomunidad{
    width: 379px ;
    height: 440px;
   }

.imglondres{
  width: 450px;
  height: 250px;
}
.imgrio{
  width: 450px;
  height: 250px;
}

  